<!DOCTYPE html>
<html lang="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>iot Project</title>
	<link rel="stylesheet" th:href="@{/css/default.css}">
 	<link rel="stylesheet" th:href="@{/css/static_layout.css}">
	<link rel="stylesheet" th:href="@{/css/media.css}">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<th:block layout:fragment="head_content"></th:block>

</head>
<body>
	<header>
        <h1>
            <a></a>
            <button class="menuBtn"></button>
        </h1>                 
        <nav>
            <ul class="top">
			 	<li>
			 	  <a class="rebootBtn">
				    <span>電原</span>
				  </a>
				</li>
            </ul>
            <ul class="gnb">
              <li><a><span>グラフ</span></a></li>
              <li><a><span>スキル</span></a></li> 
            </ul>
        </nav>
    </header>
    <div class="dim">
    </div>

    <th:block layout:fragment="main_content">
    </th:block>
     
    <th:block layout:fragment="js_content">
    </th:block>

<script type="text/javascript">
  $(".menuBtn").on("click", function(){
    $("header nav").show(200);
    $(".dim").show();
    });
 $(".dim").on("click", function(){
    $("header nav").hide(200);
     $(".dim").hide();
    });
 
 var mgttWebSocket = null;
 
 mgttWebSocket = new SockJS("http://localhost:8000/websocket");
 if (mgttWebSocket != null) {
	 mgttWebSocket.onopen = function(message) {
	 	console.log("connected");     
	 };
	     
	
	 mgttWebSocket.onmessage = function(message) {
	      console.log("recv data=" + message.data) ;
	 };
	
	 mgttWebSocket.onclose = function(message) {
	      console.log("closed");       
	 };
	  
	 mgttWebSocket.onerror = function(message) {
	      console.log("error msg =" + message);     
	 };
 }
 function rebootBtnClick() {
   
     mgttWebSocket.send("1");
  
 }
</script>
</body>
</html>