<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<title>Insert title here</title>
</head>
<body>
	 asdasdasd
	<header>
	
	</header>
	
	<content>
		<span></span>
		<span></span>
	</content>



<script type="text/javascript">
var mgttWebSocket = null;
 
mgttWebSocket = new SockJS("http://localhost:8000/websocket");
    
mgttWebSocket.onopen = function(message) {
	console.log("connected");     
};
    

mgttWebSocket.onmessage = function(message) {
     console.log("recv data=" + message.data) ;
};

mgttWebSocket.onclose = function(message) {
     console.log("closed");       
};
 
mgttWebSocket.onerror = function(message) {
     console.log("error msg =" + message);     
};

function rebootBtnClick() {
  
    mgttWebSocket.send("1");
 
}

</script>

</body>
</html>