<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/default_layout}"
	xmlns="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="head_content">
	<link rel="stylesheet" th:href="@{/css/index.css}">
	<link rel="stylesheet" th:href="@{/css/graph.css}">
   	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</th:block>


<th:block layout:fragment="main_content">
	<div class="mqtt_data">
		<h1>リアルタイムのデータ</h1>
		<div class="mqtt_data_inner">
			<ul class="humidity">
				<li>湿度</li> 
				<li id="humidity_data">-</li> 
			</ul>
			
			<ul class="temperature">
				<li>気温</li>
				<li id="temperature_data">-</li>
			</ul>
		</div>
	</div>
	
	<div class="graph_header">
    	<h1>気温と湿度のグラフ</h1>
    	<p>  
        	<span>開始</span>
        	<input type="text" id="datepicker1" readonly>
        	<span>終了</span>
        	<input type="text" id="datepicker2" readonly>
    	</p>
    	 
    	<button id="graph_request_btn">照会</button>
    </div>
    
    <div id="graph_area">
    </div>      

</th:block>

<th:block layout:fragment="js_content">

	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<script th:inline="javascript">
	var mgttWebSocket = null;
	/*<![CDATA[*/ 
	webSocketServerPath = /*[[ ${webSocketServerPath} ]]*/
	/*]]*/
	mgttWebSocket = new SockJS(webSocketServerPath);
	 
	if (mgttWebSocket != null) {
		mgttWebSocket.onopen = function(message) {};
		mgttWebSocket.onmessage = function(message) {
			var result = JSON.parse(message.data);
			$('#temperature_data').text(result.temperature);
			$("#humidity_data").text(result.humidity);
		};			      
		mgttWebSocket.onclose = function(message) {};
		mgttWebSocket.onerror = function(message) {};	 
	}		

	google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    /*<![CDATA[*/ 
    graphDatas = /*[[ ${graphDatas} ]]*/
    /*]]*/
      
    function drawChart() {
    	   
       var data = google.visualization.arrayToDataTable(graphDatas);
       
       var options = {
          title: '',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('graph_area'));

        chart.draw(data, options);
	}
   
  	$('#datepicker1').datepicker({
 		dateFormat: 'yy-mm-dd'  
        ,showOtherMonths: true  
        ,showMonthAfterYear:true  
        ,changeYear: true  
        ,changeMonth: true          
        ,showOn: "both"  
        ,buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif"  
        ,buttonImageOnly: true  
        ,buttonText: "日時"      
        ,yearSuffix: "年"  
        ,monthNamesShort: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']  
        ,monthNames: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']  
        ,dayNamesMin: ['日','月','火','水','木','金','土']  
        ,dayNames:  ['日','月','火','水','木','金','土']  
        ,minDate: "-5M" 
        ,maxDate: "0" 
        ,onClose: function(selectedDate) 
    		{ 
    			$("#datepicker2").datepicker("option", "minDate", selectedDate); 
    		}
	});
  	
  	$('#datepicker2').datepicker({
 		dateFormat: 'yy-mm-dd'  
        ,showOtherMonths: true  
        ,showMonthAfterYear:true  
        ,changeYear: true  
        ,changeMonth: true          
        ,showOn: "both"  
        ,buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif"  
        ,buttonImageOnly: true  
        ,buttonText: "日時"      
        ,yearSuffix: "年"  
        ,monthNamesShort: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']  
        ,monthNames: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']  
        ,dayNamesMin: ['日','月','火','水','木','金','土']  
        ,dayNames:  ['日','月','火','水','木','金','土']  
        ,minDate: "-5M" 
        ,maxDate: "0"  
        ,onClose: function(selectedDate) 
        		{ 
        			$("#datepicker1").datepicker("option", "maxDate", selectedDate); 
        		}
 	});

	$('#datepicker1, #datepicker2').datepicker('setDate', 'today');    
 
	$("#graph_request_btn").on("click",
		function graph_request_btn_onclick() {
		 
		//mgttWebSocket.send("D" + startDate + "&" + endDate);
			$.ajax({
				type : "POST",
				url : "/iot1/graph/",
				dataType : "text",
				headers : {
					"Content-type" : "application/json",
					"X-HTTP-Method-Override" : "POST"
				},
				data : JSON.stringify({
					startDate: $("#datepicker1").val(),
					endDate: $("#datepicker2").val()
				}),
				success : function(data) {
					graphDatas = JSON.parse(data);
					drawChart();
				} 
			}); //ajax 
	 });	  
	</script>
</th:block>

</html>
