<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/default_layout}"
	xmlns="http://www.w3.org/1999/xhtml">

	<th:block layout:fragment="head_content">
		<link rel="stylesheet" th:href="@{/css/skills.css}">
	</th:block>


	<div layout:fragment="main_content">
  		<div class="skills_content">
  			<h1>1. 서버 구성</h1>
  			<p> AWS_EC2(Linux) / Apache / Tomcat / Oracle(11g) </p>
  			
  			<h1>2. FrameWork 등</h1>
  			<p> SpringBoot / JPA / Thymeleaf / Websocket / MQTT(Mosquitto) / Arduino</p>
  			
  			<h1>3. 배포</h1>
  			<p> GitHub / Travis / AWS_CodeDeploy / AWS_Route53</p>
  	
  		</div>       
  	</div>
 
  <div layout:fragment="js_content">
   
  </div>


</html>
