<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/default_layout}"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
	<th:block layout:fragment="head_content">
		<link rel="stylesheet" th:href="@{/css/skills.css}">
	</th:block>
</head>
<body>
	<div layout:fragment="main_content">
  		<div class="skills_content">
  			<h1>111</h1>
  			<p>asdfasdf,asdfsdf,asdf</p>
  			<h1>222</h1>
  			<p>asdfasdf,asdfsdf,asdf</p>
  			<h1>333</h1>
  			<p>asdfasdf,asdfsdf,asdf</p>
  	
  		</div>       
  	</div>
 
  <div layout:fragment="js_content">
   
  </div>
</body>

</html>
