<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/default_layout}"
	xmlns="http://www.w3.org/1999/xhtml">

	<th:block layout:fragment="head_content">
		<link rel="stylesheet" th:href="@{/css/skills.css}">
	</th:block>


	<div layout:fragment="main_content">
  		<div class="skills_content">
  			<h1>サーバーの構成</h1>
  			<p>AWS_EC2(redhat),　Apache,　Tomcat, Oracle11g</p>
  			
  			<h1>ツール など</h1>
  			<p>SpringBoot, JPA, Tymleaf, mosquitto, aduino</p>
  			
  			<h1>商用化</h1>
  			<p>GitHub / Travis / AWS_CodeDeploy</p>
  	
  		</div>       
  	</div>
 
  <div layout:fragment="js_content">
   
  </div>


</html>
